/*
  Author: Jordan Austin
  URL: github.com/missing

  NOTE:
    These are defaults meant to mimic the default unstyled brower look.
    I highly recommend you style your details tags but don't do it here.
    Just overwrite the style. Almost everything can be fully customized.
    Anything that shouldn't be overwritten has an !important on it.
*/

.no-details details {
  display: block;
  width: 100%;
}

.no-details details > summary {
  display: inline-block !important;
  width: 100%  !important;
  min-height: 1.4em;
  padding: 0.125em;
  cursor: pointer;

  /* Comment out user-select below to allow text selection on summary */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.no-details details summary:before {
  content:'\25B6';
  font-size: 0.8em;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  transform-origin: 0.4em 0.6em;
}

.no-details details[open] > summary:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.no-details details > *:not(summary) {
  display: none;
}

.no-details details[open] > *:not(summary) {
  /*If you need to display table or something like that feel free*/
  display: block;
}
